/*MOBILE*/
#logo-ams {
    width: 60px;
}
#header-site {
    background-color: $primary-blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*SMALL*/
@media #{$query-small} {
    
}

/*MEDIUM*/
@media #{$query-medium} {

}

/*LARGE*/
@media #{$query-large} {
   
    
}

/*X-LARGE*/
@media #{$query-xl} {

    
}

/*XX-LARGE*/
@media #{$query-xxl} {

}